.content-wrapper {
  max-width: 85%;
  margin: 1em auto;
  border-radius: 4px;
  padding: 1em;
  border: 1px solid red;
}
.header-section {
  display: block;
  text-align: center;
}
.header-section img {
  border-radius: 50%;
  width: 25%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.header-section h5 {
  padding-top: 0.75em;
}
.header-section ul {
  list-style-type: none;
}
.header-section ul li {
  display: inline-block;
  border: 1px solid;
  width: fit-content;
  padding: 0.25em 1em;
  margin: 0.25em;
  border-radius: 2px;
  color: #fff;
  font-size: 0.75em;
}
.header-section .repos {
  background-color: #52006a;
}
.header-section .followers {
  background-color: #ff7600;
}
.header-section .following {
  background-color: #cd113b;
}
.user-bio {
  border-top: 4px solid #343a40 !important;
  border-radius: 3px;
  padding: 0;
  padding-top: 0.25em;
}
.bio-header {
  background-color: #343a40 !important;
  padding: 0.5em 0 0.02em 0.5em;
  color: #fff;
}
.bio-header .divider {
  border-left: 2px solid #fff;
}
.bio-content {
  padding: 0 0.25em;
}
.divider {
  border-left: 2px solid #000;
  margin: 0 0.25em;
}
.repo-wrapper {
  border: 2px solid #343a40 !important;
  border: 2px solid #39A2DB;
  border-radius: 2px;
  padding-bottom: 0.75em;
}
.repo-title {
  background-color: #343a40 !important;
  /* background-color: #39A2DB; */
  color: #fff;
  padding: 0.2em;
}
@media screen and (min-width: 768px) {
  .content-wrapper {
    max-width: 65%;
  }
  .header-section img {
    width: 20%;
  }
}
