.content-wrapper {
  max-width: 75%;
  margin: 1em auto;
  border-radius: 4px;
  padding: 1em;
  border: 1px solid red;
}
.header-section {
  display: block;
  text-align: center;
}
.header-section img {
  border-radius: 50%;
  width: 25%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.header-section .location {
  border-left: 2px solid #000;
  padding-left: 0.125em;
  opacity: 0.6;
}
.header-section h5 {
  padding-top: 0.75em;
}
.header-section ul{
    list-style-type: none;
}
.header-section ul li{
    display: inline-block;
    border: 1px solid;
    width: fit-content;
    padding: 0.25em 1em;
    margin: 0.25em;
    border-radius: 2px;
    color: #fff;
    font-size: .75em;
}
.header-section .repos{
    background-color: #52006A;
}
.header-section .followers{
    background-color: #FF7600;
}
.header-section .following{
    background-color: #CD113B;
}