<div class="container-fluid content-wrapper">
  <div class="header-section">
    <img [src]="user.avatarUrl" alt="Profile photo" />
    <h5>
      <span>{{ user.username }} </span><span class="divider"></span
      ><span class="muted-text">{{ user.location }}</span>
    </h5>
    <ul>
      <li class="repos">{{ user.publicRepos }} Public Repos</li>
      <li class="followers">{{ user.followers }} Followers</li>
      <li class="following">{{ user.following }} Following</li>
    </ul>
  </div>
  <div class="user-bio">
    <div class="bio-header">
      <h6>
        <span class="bio">Bio</span><span class="divider"> Member since:</span
        ><span class="muted-text">{{ user.createdAt }}</span>
      </h6>
    </div>
    <div class="bio-content">
      <p>{{ user.bio }}</p>
    </div>
  </div>
  <div class="repo-wrapper">
    <h4 class="repo-title">Repositories</h4>
    <app-user-repository></app-user-repository>
  </div>
</div>
