<div *ngFor="let repository of repositories" class="repo-detail">
  <div class="repo-header">
    <h5>
      <a href="{{ repository.repositoryLink }}" target="_blank">{{
        repository.name
      }}</a>
    </h5>
    <p class="muted-text">
      Created on: {{ repository.createdAt | dateExtractor }}
    </p>
  </div>
  <div class="repo-content">
    <p>{{ repository.description }}</p>
  </div>
  <div class="repo-footer">
    <ul>
      <li class="stars">{{ repository.stars }} Stars</li>
      <li class="forks">{{ repository.forks }} Forks</li>
    </ul>
  </div>
</div>
